@page "/employees/edit"
@using Microsoft.EntityFrameworkCore
@using WiredBrainCoffee.EmployeeManager.Data
@inject IDbContextFactory<WiredBrainCoffee.EmployeeManager.Data.EmployeeManagerDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Employee</h2>
<hr />
@if (Employee is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Employee" OnValidSubmit="UpdateEmployee" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary />
                <input type="hidden" name="Employee.Id" value="@Employee.Id" />
                <div class="mb-3">
                    <label for="firstname" class="form-label">FirstName:</label>
                    <InputText id="firstname" @bind-Value="Employee.FirstName" class="form-control" />
                    <ValidationMessage For="() => Employee.FirstName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">LastName:</label>
                    <InputText id="lastname" @bind-Value="Employee.LastName" class="form-control" />
                    <ValidationMessage For="() => Employee.LastName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="isdeveloper" class="form-label">IsDeveloper:</label>
                    <InputCheckbox id="isdeveloper" @bind-Value="Employee.IsDeveloper" class="form-check-input" />
                    <ValidationMessage For="() => Employee.IsDeveloper" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="department" class="form-label">Department:</label>
                    <InputSelect id="department"
                                 @bind-Value="Employee.DepartmentId" class="form-select">
                        @if (departments is not null)
                        {
                            @foreach (var department in departments)
                            {
                                <option value="@department.Id">@department.Name</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="() => Employee.DepartmentId" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/employees">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    public Employee? Employee { get; set; }

    private Department[]? departments;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Employee ??= await context.Employee.FirstOrDefaultAsync(m => m.Id == Id);
        departments = await context.Department.ToArrayAsync();

        if (Employee is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateEmployee()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Employee!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!EmployeeExists(Employee!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/employees");
    }

    private bool EmployeeExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Employee.Any(e => e.Id == id);
    }
}
